.carousel__item-container {
    position: relative;
}

.carousel__heading,
.carousel__paragraph,
.carousel__btn {
    position: absolute;
    left: 10%;
}

.carousel__heading {
    top: 20%;
}

.carousel__paragraph {
    top: 25%;
}

.carousel__btn {
    top: 30%;
}

.carousel__image-overlay {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}

@media screen and (max-width: 992px) {
    .carousel__image {
        max-width: 100%;
        height: auto;
    }

    .carousel__heading {
        top: 40%;
    }

    .carousel__paragraph {
        top: 50%;
    }

    .carousel__btn {
        top: 60%;
    }
}

@media screen and (max-width: 596px) {
    .carousel__heading,
    .carousel__paragraph,
    .carousel__btn {
        display: none;
    }
}
