* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.login-bg{
 background-image: url('./images/login.jpg'); 
 background-size: cover;
}